#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 463px 9161px #7ec845, 1780px 1084px #7ec845, 1081px 1115px #7ec845,
    968px 1000px #7ec845, 1902px 452px #7ec845, 637px 1164px #7ec845,
    1165px 1142px #7ec845, 487px 537px #7ec845, 1617px 1975px #7ec845,
    547px 758px #7ec845, 1832px 1857px #7ec845, 1794px 43px #7ec845,
    1577px 1912px #7ec845, 374px 315px #7ec845, 706px 1698px #7ec845,
    230px 5px #7ec845, 61px 923px #7ec845, 1486px 667px #7ec845,
    256px 727px #7ec845, 1654px 187px #7ec845, 1598px 1747px #7ec845,
    1873px 974px #7ec845, 91px 1313px #7ec845, 766px 834px #7ec845,
    1094px 833px #7ec845, 997px 599px #7ec845, 630px 1585px #7ec845,
    1502px 1102px #7ec845, 1119px 366px #7ec845, 1471px 1710px #7ec845,
    644px 1200px #7ec845, 1152px 1196px #7ec845, 1773px 200px #7ec845,
    449px 1990px #7ec845, 1565px 1642px #7ec845, 1341px 1236px #7ec845,
    1423px 854px #7ec845, 659px 1690px #7ec845, 435px 1713px #7ec845,
    1412px 926px #7ec845, 1323px 879px #7ec845, 1493px 823px #7ec845,
    1885px 1190px #7ec845, 1321px 1131px #7ec845, 1246px 860px #7ec845,
    214px 867px #7ec845, 4px 234px #7ec845, 1700px 849px #7ec845,
    1322px 1361px #7ec845, 1817px 637px #7ec845, 734px 1035px #7ec845,
    1615px 1350px #7ec845, 1539px 438px #7ec845, 1053px 618px #7ec845,
    1939px 1383px #7ec845, 644px 796px #7ec845, 1623px 407px #7ec845,
    742px 604px #7ec845, 1451px 1656px #7ec845, 109px 1583px #7ec845,
    224px 104px #7ec845, 253px 667px #7ec845, 1355px 311px #7ec845,
    1238px 1279px #7ec845, 131px 389px #7ec845, 270px 1800px #7ec845,
    589px 721px #7ec845, 818px 213px #7ec845, 497px 455px #7ec845,
    1504px 1830px #7ec845, 338px 1051px #7ec845, 1157px 444px #7ec845,
    1157px 304px #7ec845, 276px 884px #7ec845, 404px 1407px #7ec845,
    666px 832px #7ec845, 1844px 1521px #7ec845, 1587px 555px #7ec845,
    593px 225px #7ec845, 1753px 119px #7ec845, 1361px 1508px #7ec845,
    1583px 1592px #7ec845, 1824px 629px #7ec845, 1310px 1838px #7ec845,
    29px 1999px #7ec845, 585px 1692px #7ec845, 1649px 390px #7ec845,
    843px 406px #7ec845, 1982px 1174px #7ec845, 1281px 1584px #7ec845,
    347px 184px #7ec845, 1566px 1294px #7ec845, 808px 980px #7ec845,
    1916px 954px #7ec845, 1484px 1782px #7ec845, 56px 209px #7ec845,
    1773px 214px #7ec845, 1135px 1533px #7ec845, 808px 491px #7ec845,
    1685px 690px #7ec845;
  animation: animStar 175s linear infinite;
}
#stars3:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 463px 9161px #7ec845, 1780px 1084px #7ec845, 1081px 1115px #7ec845,
    968px 1000px #7ec845, 1902px 452px #7ec845, 637px 1164px #7ec845,
    1165px 1142px #7ec845, 487px 537px #7ec845, 1617px 1975px #7ec845,
    547px 758px #7ec845, 1832px 1857px #7ec845, 1794px 43px #7ec845,
    1577px 1912px #7ec845, 374px 315px #7ec845, 706px 1698px #7ec845,
    230px 5px #7ec845, 61px 923px #7ec845, 1486px 667px #7ec845,
    256px 727px #7ec845, 1654px 187px #7ec845, 1598px 1747px #7ec845,
    1873px 974px #7ec845, 91px 1313px #7ec845, 766px 834px #7ec845,
    1094px 833px #7ec845, 997px 599px #7ec845, 630px 1585px #7ec845,
    1502px 1102px #7ec845, 1119px 366px #7ec845, 1471px 1710px #7ec845,
    644px 1200px #7ec845, 1152px 1196px #7ec845, 1773px 200px #7ec845,
    449px 1990px #7ec845, 1565px 1642px #7ec845, 1341px 1236px #7ec845,
    1423px 854px #7ec845, 659px 1690px #7ec845, 435px 1713px #7ec845,
    1412px 926px #7ec845, 1323px 879px #7ec845, 1493px 823px #7ec845,
    1885px 1190px #7ec845, 1321px 1131px #7ec845, 1246px 860px #7ec845,
    214px 867px #7ec845, 4px 234px #7ec845, 1700px 849px #7ec845,
    1322px 1361px #7ec845, 1817px 637px #7ec845, 734px 1035px #7ec845,
    1615px 1350px #7ec845, 1539px 438px #7ec845, 1053px 618px #7ec845,
    1939px 1383px #7ec845, 644px 796px #7ec845, 1623px 407px #7ec845,
    742px 604px #7ec845, 1451px 1656px #7ec845, 109px 1583px #7ec845,
    224px 104px #7ec845, 253px 667px #7ec845, 1355px 311px #7ec845,
    1238px 1279px #7ec845, 131px 389px #7ec845, 270px 1800px #7ec845,
    589px 721px #7ec845, 818px 213px #7ec845, 497px 455px #7ec845,
    1504px 1830px #7ec845, 338px 1051px #7ec845, 1157px 444px #7ec845,
    1157px 304px #7ec845, 276px 884px #7ec845, 404px 1407px #7ec845,
    666px 832px #7ec845, 1844px 1521px #7ec845, 1587px 555px #7ec845,
    593px 225px #7ec845, 1753px 119px #7ec845, 1361px 1508px #7ec845,
    1583px 1592px #7ec845, 1824px 629px #7ec845, 1310px 1838px #7ec845,
    29px 1999px #7ec845, 585px 1692px #7ec845, 1649px 390px #7ec845,
    843px 406px #7ec845, 1982px 1174px #7ec845, 1281px 1584px #7ec845,
    347px 184px #7ec845, 1566px 1294px #7ec845, 808px 980px #7ec845,
    1916px 954px #7ec845, 1484px 1782px #7ec845, 56px 209px #7ec845,
    1773px 214px #7ec845, 1135px 1533px #7ec845, 808px 491px #7ec845,
    1685px 690px #7ec845;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
