#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1239px 16890px #c0d725, 1478px 1299px #c0d725,
    1721px 500px #c0d725, 284px 403px #c0d725, 215px 1327px #c0d725,
    1779px 209px #c0d725, 1076px 1689px #c0d725, 7px 564px #c0d725,
    725px 1496px #c0d725, 1795px 1805px #c0d725, 932px 1091px #c0d725,
    9px 1864px #c0d725, 422px 550px #c0d725, 749px 797px #c0d725,
    360px 1463px #c0d725, 1969px 1677px #c0d725, 716px 388px #c0d725,
    1376px 1259px #c0d725, 544px 1535px #c0d725, 1339px 22px #c0d725,
    64px 1663px #c0d725, 926px 1142px #c0d725, 1402px 542px #c0d725,
    1349px 129px #c0d725, 722px 707px #c0d725, 1134px 1985px #c0d725,
    1608px 545px #c0d725, 1502px 139px #c0d725, 1048px 1950px #c0d725,
    593px 1141px #c0d725, 940px 1860px #c0d725, 345px 944px #c0d725,
    983px 1189px #c0d725, 1073px 564px #c0d725, 360px 1429px #c0d725,
    1698px 941px #c0d725, 1494px 1234px #c0d725, 893px 56px #c0d725,
    680px 673px #c0d725, 1461px 417px #c0d725, 1312px 400px #c0d725,
    1694px 1717px #c0d725, 828px 1523px #c0d725, 895px 879px #c0d725,
    918px 332px #c0d725, 1264px 1176px #c0d725, 1689px 208px #c0d725,
    1561px 789px #c0d725, 118px 851px #c0d725, 937px 820px #c0d725,
    1802px 25px #c0d725, 1698px 1361px #c0d725, 1449px 327px #c0d725,
    576px 149px #c0d725, 661px 1062px #c0d725, 1882px 1873px #c0d725,
    122px 646px #c0d725, 1466px 1712px #c0d725, 1952px 314px #c0d725,
    1428px 102px #c0d725, 803px 1161px #c0d725, 1536px 332px #c0d725,
    1062px 1231px #c0d725, 15px 889px #c0d725, 679px 787px #c0d725,
    1098px 1065px #c0d725, 1450px 19px #c0d725, 473px 1741px #c0d725,
    609px 1660px #c0d725, 1616px 994px #c0d725, 1976px 691px #c0d725,
    1765px 142px #c0d725, 943px 1886px #c0d725, 218px 1076px #c0d725,
    385px 530px #c0d725, 835px 270px #c0d725, 1317px 524px #c0d725,
    1973px 21px #c0d725, 638px 1711px #c0d725, 1115px 59px #c0d725,
    1354px 6px #c0d725, 430px 1594px #c0d725, 963px 843px #c0d725,
    1128px 3px #c0d725, 135px 765px #c0d725, 1045px 28px #c0d725,
    277px 1927px #c0d725, 414px 1097px #c0d725, 1105px 1944px #c0d725,
    1847px 569px #c0d725, 1516px 1417px #c0d725, 1644px 926px #c0d725,
    1626px 849px #c0d725, 841px 906px #c0d725, 589px 1359px #c0d725,
    1574px 1933px #c0d725, 761px 934px #c0d725, 492px 896px #c0d725,
    1878px 823px #c0d725, 1938px 1842px #c0d725, 683px 547px #c0d725,
    1032px 6px #c0d725, 1542px 986px #c0d725, 961px 655px #c0d725,
    1691px 732px #c0d725, 13px 1165px #c0d725, 187px 1653px #c0d725,
    1888px 788px #c0d725, 537px 128px #c0d725, 4px 1682px #c0d725,
    289px 183px #c0d725, 938px 1889px #c0d725, 88px 997px #c0d725,
    1875px 1078px #c0d725, 1151px 244px #c0d725, 1565px 990px #c0d725,
    217px 1649px #c0d725, 1464px 399px #c0d725, 1816px 556px #c0d725,
    489px 1188px #c0d725, 413px 1453px #c0d725, 652px 81px #c0d725,
    286px 530px #c0d725, 531px 1908px #c0d725, 515px 195px #c0d725,
    1561px 324px #c0d725, 820px 318px #c0d725, 1841px 1669px #c0d725,
    1179px 1702px #c0d725, 1637px 1005px #c0d725, 1309px 1556px #c0d725,
    965px 1258px #c0d725, 1998px 1913px #c0d725, 679px 1068px #c0d725,
    1563px 1860px #c0d725, 1491px 888px #c0d725, 288px 1016px #c0d725,
    1757px 1533px #c0d725, 95px 135px #c0d725, 1848px 979px #c0d725,
    805px 233px #c0d725, 872px 438px #c0d725, 1739px 1744px #c0d725,
    1311px 26px #c0d725, 943px 689px #c0d725, 1711px 1183px #c0d725,
    135px 367px #c0d725, 661px 86px #c0d725, 212px 1620px #c0d725,
    893px 1952px #c0d725, 1751px 518px #c0d725, 194px 1501px #c0d725,
    1642px 1476px #c0d725, 405px 1517px #c0d725, 350px 1368px #c0d725,
    581px 88px #c0d725, 1865px 1679px #c0d725, 927px 1277px #c0d725,
    1814px 491px #c0d725, 1840px 1148px #c0d725, 1146px 1959px #c0d725,
    1918px 1532px #c0d725, 1430px 1547px #c0d725, 428px 742px #c0d725,
    352px 1481px #c0d725, 94px 338px #c0d725, 1607px 1249px #c0d725,
    674px 779px #c0d725, 1978px 669px #c0d725, 298px 1542px #c0d725,
    1909px 1292px #c0d725, 1196px 1669px #c0d725, 669px 707px #c0d725,
    21px 1112px #c0d725, 506px 1386px #c0d725, 1003px 754px #c0d725,
    1740px 1704px #c0d725, 1041px 1046px #c0d725, 298px 1374px #c0d725,
    1916px 244px #c0d725, 827px 1234px hsl(180, 100%, 50%), 614px 1610px #c0d725,
    634px 1299px #c0d725, 1499px 823px #c0d725, 1614px 1631px #c0d725,
    921px 941px #c0d725, 236px 77px #c0d725, 535px 1283px #c0d725,
    1521px 1045px #c0d725, 1244px 1191px #c0d725, 691px 1804px #c0d725,
    64px 77px #c0d725, 1196px 317px #c0d725, 1133px 1900px #c0d725,
    1488px 366px #c0d725, 1293px 238px #c0d725, 1860px 1094px #c0d725,
    1303px 129px #c0d725, 312px 447px #c0d725, 807px 1339px #c0d725;
  animation: animStar 125s linear infinite;
}
#stars2:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1239px 16890px #c0d725, 1478px 1299px #c0d725,
    1721px 500px #c0d725, 284px 403px #c0d725, 215px 1327px #c0d725,
    1779px 209px #c0d725, 1076px 1689px #c0d725, 7px 564px #c0d725,
    725px 1496px #c0d725, 1795px 1805px #c0d725, 932px 1091px #c0d725,
    9px 1864px #c0d725, 422px 550px #c0d725, 749px 797px #c0d725,
    360px 1463px #c0d725, 1969px 1677px #c0d725, 716px 388px #c0d725,
    1376px 1259px #c0d725, 544px 1535px #c0d725, 1339px 22px #c0d725,
    64px 1663px #c0d725, 926px 1142px #c0d725, 1402px 542px #c0d725,
    1349px 129px #c0d725, 722px 707px #c0d725, 1134px 1985px #c0d725,
    1608px 545px #c0d725, 1502px 139px #c0d725, 1048px 1950px #c0d725,
    593px 1141px #c0d725, 940px 1860px #c0d725, 345px 944px #c0d725,
    983px 1189px #c0d725, 1073px 564px #c0d725, 360px 1429px #c0d725,
    1698px 941px #c0d725, 1494px 1234px #c0d725, 893px 56px #c0d725,
    680px 673px #c0d725, 1461px 417px #c0d725, 1312px 400px #c0d725,
    1694px 1717px #c0d725, 828px 1523px #c0d725, 895px 879px #c0d725,
    918px 332px #c0d725, 1264px 1176px #c0d725, 1689px 208px #c0d725,
    1561px 789px #c0d725, 118px 851px #c0d725, 937px 820px #c0d725,
    1802px 25px #c0d725, 1698px 1361px #c0d725, 1449px 327px #c0d725,
    576px 149px #c0d725, 661px 1062px #c0d725, 1882px 1873px #c0d725,
    122px 646px #c0d725, 1466px 1712px #c0d725, 1952px 314px #c0d725,
    1428px 102px #c0d725, 803px 1161px #c0d725, 1536px 332px #c0d725,
    1062px 1231px #c0d725, 15px 889px #c0d725, 679px 787px #c0d725,
    1098px 1065px #c0d725, 1450px 19px #c0d725, 473px 1741px #c0d725,
    609px 1660px #c0d725, 1616px 994px #c0d725, 1976px 691px #c0d725,
    1765px 142px #c0d725, 943px 1886px #c0d725, 218px 1076px #c0d725,
    385px 530px #c0d725, 835px 270px #c0d725, 1317px 524px #c0d725,
    1973px 21px #c0d725, 638px 1711px #c0d725, 1115px 59px #c0d725,
    1354px 6px #c0d725, 430px 1594px #c0d725, 963px 843px #c0d725,
    1128px 3px #c0d725, 135px 765px #c0d725, 1045px 28px #c0d725,
    277px 1927px #c0d725, 414px 1097px #c0d725, 1105px 1944px #c0d725,
    1847px 569px #c0d725, 1516px 1417px #c0d725, 1644px 926px #c0d725,
    1626px 849px #c0d725, 841px 906px #c0d725, 589px 1359px #c0d725,
    1574px 1933px #c0d725, 761px 934px #c0d725, 492px 896px #c0d725,
    1878px 823px #c0d725, 1938px 1842px #c0d725, 683px 547px #c0d725,
    1032px 6px #c0d725, 1542px 986px #c0d725, 961px 655px #c0d725,
    1691px 732px #c0d725, 13px 1165px #c0d725, 187px 1653px #c0d725,
    1888px 788px #c0d725, 537px 128px #c0d725, 4px 1682px #c0d725,
    289px 183px #c0d725, 938px 1889px #c0d725, 88px 997px #c0d725,
    1875px 1078px #c0d725, 1151px 244px #c0d725, 1565px 990px #c0d725,
    217px 1649px #c0d725, 1464px 399px #c0d725, 1816px 556px #c0d725,
    489px 1188px #c0d725, 413px 1453px #c0d725, 652px 81px #c0d725,
    286px 530px #c0d725, 531px 1908px #c0d725, 515px 195px #c0d725,
    1561px 324px #c0d725, 820px 318px #c0d725, 1841px 1669px #c0d725,
    1179px 1702px #c0d725, 1637px 1005px #c0d725, 1309px 1556px #c0d725,
    965px 1258px #c0d725, 1998px 1913px #c0d725, 679px 1068px #c0d725,
    1563px 1860px #c0d725, 1491px 888px #c0d725, 288px 1016px #c0d725,
    1757px 1533px #c0d725, 95px 135px #c0d725, 1848px 979px #c0d725,
    805px 233px #c0d725, 872px 438px #c0d725, 1739px 1744px #c0d725,
    1311px 26px #c0d725, 943px 689px #c0d725, 1711px 1183px #c0d725,
    135px 367px #c0d725, 661px 86px #c0d725, 212px 1620px #c0d725,
    893px 1952px #c0d725, 1751px 518px #c0d725, 194px 1501px #c0d725,
    1642px 1476px #c0d725, 405px 1517px #c0d725, 350px 1368px #c0d725,
    581px 88px #c0d725, 1865px 1679px #c0d725, 927px 1277px #c0d725,
    1814px 491px #c0d725, 1840px 1148px #c0d725, 1146px 1959px #c0d725,
    1918px 1532px #c0d725, 1430px 1547px #c0d725, 428px 742px #c0d725,
    352px 1481px #c0d725, 94px 338px #c0d725, 1607px 1249px #c0d725,
    674px 779px #c0d725, 1978px 669px #c0d725, 298px 1542px #c0d725,
    1909px 1292px #c0d725, 1196px 1669px #c0d725, 669px 707px #c0d725,
    21px 1112px #c0d725, 506px 1386px #c0d725, 1003px 754px #c0d725,
    1740px 1704px #c0d725, 1041px 1046px #c0d725, 298px 1374px #c0d725,
    1916px 244px #c0d725, 827px 1234px #c0d725, 614px 1610px #c0d725,
    634px 1299px #c0d725, 1499px 823px #c0d725, 1614px 1631px #c0d725,
    921px 941px #c0d725, 236px 77px #c0d725, 535px 1283px #c0d725,
    1521px 1045px #c0d725, 1244px 1191px #c0d725, 691px 1804px #c0d725,
    64px 77px #c0d725, 1196px 317px #c0d725, 1133px 1900px #c0d725,
    1488px 366px #c0d725, 1293px 238px #c0d725, 1860px 1094px #c0d725,
    1303px 129px #c0d725, 312px 447px #c0d725, 807px 1339px #c0d725;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
